version: '3.8'

services:
  postgres:
    image: postgres:latest
    container_name: manga-postgres
    environment:
      - 'POSTGRES_DB=reader'
      - 'POSTGRES_USER=andrew'
      - 'POSTGRES_PASSWORD=gomes'
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgres

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbit_manga
    environment:
      - RABBITMQ_DEFAULT_USER=andrew
      - RABBITMQ_DEFAULT_PASS=reader
    ports:
      - "5672:5672"
      - "15672:15672"

volumes:
  postgres_data: