@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --menu-margin-left: 48px;
}

main {
    margin-left: var(--menu-margin-left);
    height: 100vh;
    transition: margin-left 0.3s ease;
}

@media (max-width: 768px) {
    main {
        margin-left: var(--menu-margin-left);
    }
}